*{
    margin: 0;
    padding: 0;
}
.navbar-purple {
    background: palevioletred;
}

.bg-purple{
    background: mediumpurple;
}

.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}

.btn{
    color: white !important;
}

.our_website{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

main .form-control
{
    /* Center form controls */
    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}
main .form-group{
    padding: 10px;
}

main .form-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;

    justify-content: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}